<p>datepicker works!</p>
<div class="container">
  <form class="form-inline" [formGroup]="dateForm">
    <div class="form-group">
      <div class="input-group">
        <input class="form-control" formControlName="date" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker
          #d="ngbDatepicker">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
            <span class="material-icons">
              calendar_today
            </span>
          </button>
        </div>
      </div>
    </div>
  </form>
  <button class="btn btn-primary" (click)="pickDate()">Voir les produits</button>
  <hr>
  <div class="container__pagination">
    <ngb-pagination [collectionSize]="products?.length" [(page)]="page" aria-label="Default pagination" [disabled]='isDisabled'></ngb-pagination>
   <app-filter-search [date]="date"></app-filter-search>
  </div>
  <div class="container__cards" >
    <div class="card" style="width: 18rem;"
      *ngFor="let product of products | slice: (page-1) * pageSize : page * pageSize">
      <img src="{{product.thumbnail.image_url}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text">{{ product.created_at }}</p>
        <p class="card-text">{{ product.topics.name }}</p>
        <a href="#" class="btn btn-primary">{{ product.category_id }}</a>
      </div>
    </div>
  </div>
</div>
