<p>datepicker works!</p>
<form class="form-inline" [formGroup]="dateForm">
    <div class="form-group">
      <div class="input-group">
        <input class="form-control" formControlName="date" placeholder="yyyy-mm-dd"
               name="dp" ngbDatepicker #d="ngbDatepicker">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
        </div>
      </div>
    </div>
    <button class="btn btn-success" (click)="pickDate()">SHOW</button>
  </form>
  
  <hr/>
  <pre>Model: {{ model | json }}</pre>
  
  <div class="Card" *ngFor="let product of products">
    {{ product.name }} : {{ product.created_at }} + {{ product.category_id }}
  </div>
  <ngb-alert class="mt-3 mb-0" type="info" [dismissible]="false">
    You must provide the icon for the button. This allows you
    to choose an icon that matches your application's style.
    In this example, the icon is set via a CSS class.
  </ngb-alert>