<div class="container">
  <h4>Trouvez vos produits selon leurs dates de sortie</h4>
  <hr>
  <form class="form-inline" [formGroup]="dateForm">
    <div class="form-group">
      <div class="input-group">
        <input class="form-control" formControlName="date" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker
          #d="ngbDatepicker">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
            <span class="material-icons">
              calendar_today
            </span>
          </button>
        </div>
      </div>
    </div>
    <button class="btn btn-primary" (click)="pickDate()">Voir les produits</button>
  </form>
  <div class="container__filter" *ngIf="date != undefined">
    <form class="form" [formGroup]="formTopic" >
      <div class="form-group">
        <select class="form-select" formControlName="topic" id="">
          <option value="">Toutes les catégories</option>
          <option *ngFor="let topic of resultTopics; let i = index" id="{{i}}" name="topic" value="{{ topic }}">{{topic}}
          </option>
        </select>
      </div>
      <button class="btn btn-primary" (click)="selectTopic()">Filtrer</button>
    </form>
  </div>
  <hr>
  <div class="container__pagination">
    <ngb-pagination [collectionSize]="products?.length" [(page)]="page" aria-label="Default pagination"
      [disabled]='isDisabled' *ngIf="date != undefined"></ngb-pagination>
  </div>
  <div class="spinner">
    <sa-spinner-round-filled *ngIf="date != undefined && isloading"
                              [size]="150" 
                              [thickness]="138" 
                              [speed]="100" 
                              color="rgba(57, 134, 172, 1)"></sa-spinner-round-filled>
  </div>
  <div class="cards">
    <div class="card" style="width: 18rem;"
      *ngFor="let product of products | slice: (page-1) * pageSize : page * pageSize">
      <img src="{{product.thumbnail.image_url}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <div class="categories">
          <span class="card-text" *ngFor="let topic of product.topics">#{{topic.name}} </span>
        </div>
      </div>
    </div>
  </div>
</div>