<form [formGroup]="formTopic">
  <select formControlName="topic" id="">
    <option>Choisissez un topic</option>
    <option *ngFor="let topic of topics" id="{{ topic.id}}" name="topic" value="{{ topic.slug }}">{{ topic.name }}</option>
  </select>
</form>
<button class="btn btn-primary" (click)="selectTopic()">Voir les produits</button>
<div class="container__cards">
  <div class="card" style="width: 18rem;" *ngFor="let product of products">
      <!-- <img src=" {{product.thumbnail.image_url}}" class="card-img-top" alt="..."> -->
    <div class="card-body">
      <h5 class="card-title">{{ product.name }}</h5>
      <p class="card-text">{{ product.created_at }}</p>
      <a href="#" class="btn btn-primary">{{ product.category_id }}</a>
    </div>
  </div>
</div>