<div class="container__filter">
  <form class="form-inline" [formGroup]="formTopic">
    <select class="form-select" formControlName="topic" id="">
      <option selected>Choisissez un topic</option>
      <option *ngFor="let topic of topics" id="{{ topic.id}}" name="topic" value="{{ topic.slug }}">{{ topic.name }} {{ topic.posts_count}}
      </option>
    </select>
  </form>
  <button class="btn btn-primary" (click)="selectTopic()">Voir les produits</button>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Country</th>
        <th scope="col">Area</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td>
          {{ product.name }}
        </td>
        <td>{{ product.category_id }}</td>
      </tr>
    </tbody>
  </table>
</div>