<p>piechart works!</p>
<h4 style="text-align:center">Pie Chart For Browser usage of &nbsp; Eduforbetterment.com
</h4>

<div style="display: block">
<canvas baseChart
        [data]="pieChartData"
        [labels]="topicNames"
        [chartType]="pieChartType"
        [colors]="colors"
        (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)"></canvas>
</div>
<ngb-pagination [collectionSize]="topicNames?.length" [(page)]="page" aria-label="Default pagination" [disabled]='isDisabled'></ngb-pagination>
